#formControl {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

#progressBar {
    margin-top: 20px;
    width: 384px;
    margin-left: calc(50% - 192px);
    display: none;
}