#formControl {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

#progressBar {
    display: none;
}

#search, #progressBar {
    margin-top: 20px;
    width: 384px;
    position: relative;
    float: left;
    left: 50%;
    margin-left: -192px;
}

#paginator {
    text-align: center;
    padding: 0px;
    width: 100%;
}
